.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--color-primary);
    box-shadow: var(--shadow);
}
.navLinks {
    display: flex;
}
.navLink {
    margin-left: 1.5rem;
    color: white;
    font-weight: 500;
    transition: color 0.2s;
}
.navLink:hover {
    color: var(--color-primary-light);
}
